<div class="container">
    <div class="row">

        <div class="col-12 col-md-4">
            <h4>Contact</h4>

            <ul class="footer-list">
                <li>Formulaire de contact</li>
                <li>perissinotto.teddy@gmail.com</li>
            </ul>

        </div>

        <div class="col-12 col-md-4">
            <h4>Informations</h4>

            <ul class="footer-list">
                <li>Mentions Légales</li>
                <li>Conditions d'utilisation</li>
                <li>A propos</li>
            </ul>

        </div>

        <div class="col-12 col-md-4">
            <h4>Autres</h4>

            <ul class="footer-list">
                <li>Collection</li>
                <li>Séries/Films</li>
                <li>Jeux Vidéo</li>
            </ul>

        </div>

    </div>

</div>
