<div class="container-fluid">

    <div class="row p-3">

        <div class="col-sm-12 col-md-2 logo">
            <a href="{{ path('home') }}">
                <img src="{{ asset('assets/img/logo/TIPI.png') }}" alt="logo" class="img-fluid">
            </a>
        </div>

        <div class="col-sm-12 col-md-10 nav">
            {% include "nav.html.twig" %}
        </div>

    </div>
    
</div>